# Directorios de Python y compilación
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
pip-log.txt
pip-delete-this-directory.txt

# Directorios de IDEs y editores (VS Code, JetBrains/IntelliJ/PyCharm etc.)
.vscode/
*.iml
.idea/


# Archivos de Sistema/Historial que NO deben subirse
.bash_history
.gitconfig
.idlerc-recent-files.lst
Thumbs.db

# Archivos de metadatos del SO
.DS_Store

# Directorios de entornos virtuales (ya en pyproject, pero buena práctica)
venv/
