[tool.ruff]
line-length = 100
target-version = "py312"
exclude = [
    "venv",
]

[tool.ruff.lint]
select = ["E", "F", "I"]  # pycodestyle, pyflakes, import order
ignore = []

[tool.ruff.format]
quote-style = "double"
indent-style = "space"

[tool.mypy]
python_version = "3.12"
warn_unused_ignores = true
warn_redundant_casts = true
warn_return_any = true
# disallow_untyped_defs = true
exclude = ["venv", "tests"]

[[tool.mypy.overrides]]
module = ["wcwidth", "wcwidth.*"]
ignore_missing_imports = true


